 
 	<a href="<%= accomodation_path(accomodation) %>" class="card-wrapper col-lg-4 col-md-6 col-sm-6 col-xs-12 no-padding-mobile">
 		<div class="card" id="accommodation-card">
 		    <div class="accommodation-img" style="background-image:url(
     		    <% if accomodation.Imagelink1.nil? %>
         			<%= asset_path 'AccComing.jpg' %>
         		<% else %>
         			<%= accomodation.Imagelink1 %>
         		<% end %>)">
     		</div>
     		<div class="content">
 		        <h2 class="accommodation-type">
             		<% if accomodation.roomtype == "Own room" %>
             		    <i class="fa fa-user"></i>
             		    Own Room
             		<% else %>
             		    <i class="fa fa-users"></i>
             		    Share Room
             		<% end %>
         		</h2>
         		<p class="accommodation-price">$ <%= accomodation.price %> AUD <sup>/weeks<sup></p>
         		<hr class="line-separator"></hr>
         		<p class="accommodation-description"><%= truncate( accomodation.description, :length => 150, :separator => ' ') %></p>
                <hr class="line-separator"></hr>
         		<p class="location"><span class="glyphicon glyphicon-map-marker"></span> <%= accomodation.location %></p>
         		<p class="date"><em><%= time_ago_in_words(accomodation.created_at) %></em> ago</p>
     		</div>
 		</div>
 	</a>


