<% provide(:title, 'Post a job') %>

<div class="row job-background editing-form">
  <h1>Post a Job</h1>
  <hr>
  <div class="span6 offset3">
    <%= form_for(@job , :html => {:class => "form-horizontal margin-top-30"})  do |f| %>
      <%= render 'shared/error_messages', object: f.object%>
  
      <!--Role-->
      <div class="form-group">
        <div class="col-xs-12 dark-background title-form">
          <div class="col-sm-3 col-xs-1"></div>
          <%= f.label :role, :class =>"col-sm-6 col-xs-12  control-label" %>
          <div class="col-sm-3 col-xs-1"></div>
        </div>
        
        <div class="col-xs-12 dark-background title-form">
          <div class="col-sm-3 col-xs-1"></div>
          <div class="col-sm-6 col-xs-12">
            <%= f.text_field :role,:placeholder =>"e.g: Ruby on Rails web developer", :required=>"required", :class =>"form-control"%>
          </div>
          <div class="col-sm-3 col-xs-1"></div>
        </div>
      </div>
  
      <!--Employer-->
      <div class="form-group">
        <div class="col-xs-12 dark-background title-form">
          <div class="col-sm-3 col-xs-1"></div>
          <%= f.label :employer, :class =>"col-sm-6 col-xs-12  control-label" %>
          <div class="col-sm-3 col-xs-1"></div>
        </div>
        
        <div class="col-xs-12 dark-background title-form">
          <div class="col-sm-3 col-xs-1"></div>
          <div class="col-sm-6 col-xs-12">
            <%= f.text_field :employer,:placeholder =>"e.g: Google.inc", :required=>"required", :class =>"form-control"%>
          </div>
          <div class="col-sm-3 col-xs-1"></div>
        </div>
      </div>
  
      <!--Location-->
      <div class="form-group">
        <div class="col-xs-12 dark-background title-form">
          <div class="col-sm-3 col-xs-1"></div>
          <%= f.label :location, :class =>"col-sm-6 col-xs-12  control-label" %>
          <div class="col-sm-3 col-xs-1"></div>
        </div>
        
        <div class="col-xs-12 dark-background title-form">
          <div class="col-sm-3 col-xs-1"></div>
          <div class="col-sm-6 col-xs-12">
            <%= f.text_field :location,:placeholder =>"e.g: Ultimo, Sydney, Australia", :required=>"required", :class =>"form-control"%>
          </div>
          <div class="col-sm-3 col-xs-1"></div>
        </div>
      </div>
  
      <!--Classification -->
      <div class="form-group">
        <div class="col-xs-12 dark-background title-form">
          <div class="col-sm-3 col-xs-1"></div>
          <%= f.label :classification, :class =>"col-sm-6 col-xs-12  control-label" %>
          <div class="col-sm-3 col-xs-1"></div>
        </div>
        
        <div class="col-xs-12 dark-background title-form">
          <div class="col-sm-3 col-xs-1"></div>
          <div class="col-sm-6 col-xs-12">
            <%= f.collection_select :classification_id, Classification.all, :id, :name, {:prompt => "Select a classification"}, {:class =>"form-control"} %>
          </div>
          <div class="col-sm-3 col-xs-1"></div>
        </div>
      </div>
  
      <!--Description-->
      <div class="form-group">
        <div class="col-xs-12 dark-background title-form">
          <div class="col-sm-3 col-xs-1"></div>
          <%= f.label :description, :class =>"col-sm-6 col-xs-12  control-label" %>
          <div class="col-sm-3 col-xs-1"></div>
        </div>
        
        <div class="col-xs-12 dark-background title-form">
          <div class="col-sm-3 col-xs-1"></div>
          <div class="col-sm-6 col-xs-12">
            <%= f.text_area :description, :placeholder =>"e.g: Technical Business Analyst - identity and access management projects - 4 month contract - based in Richmond Our client, based in North-West Sydney, are looking for a Technical Business Analyst to support two projects within the Integration and Capability Portfolio: Identity Management and ID Card Replacement.", :required=>"required", :class =>"form-control", :rows => 10%>
          </div>
          <div class="col-sm-3 col-xs-1"></div>
        </div>
      </div>
  
      <!--Criteria-->
      <div class="form-group">
          <div class="col-xs-12 dark-background title-form">
            <div class="col-sm-3 col-xs-1"></div>
            <%= f.label :criteria, :class =>"col-sm-6 col-xs-12  control-label" %>
            <div class="col-sm-3 col-xs-1"></div>
          </div>
          
          <div class="col-xs-12 dark-background title-form">
            <div class="col-sm-3 col-xs-1"></div>
            <div class="col-sm-6 col-xs-12">
              <%= f.text_area :criteria, :placeholder =>"e.g: I. Fifteen months web commercial development experience with ruby on rails II. ...", :required=>"required", :class =>"form-control", :rows => 10%>
            </div>
            <div class="col-sm-3 col-xs-1"></div>
          </div>
      </div>
  
      <!--Category-->
      <div class="form-group">
        <div class="col-xs-12 dark-background title-form">
            <div class="col-sm-3 col-xs-1"></div>
            <%= f.label :category, :class =>"col-sm-6 col-xs-12  control-label" %>
            <div class="col-sm-3 col-xs-1"></div>
        </div>
        
        <div class="col-xs-12 dark-background title-form">
            <div class="col-sm-3 col-xs-1"></div>
            <div class="col-sm-6 col-xs-12">
              <select name="job[category]" id="job_role" class="form-control" required>
                <option value="" default selected>Select the job category</option>
                <option value="Part-time">Part-time</option>
                <option value="Full-time">Full-time</option>
              </select>
            </div>
            <div class="col-sm-3 col-xs-1"></div>
        </div>
      </div>
      
      <!--Salary Type-->
      <div class="form-group">
        <div class="col-xs-12 dark-background title-form">
            <div class="col-sm-3 col-xs-1"></div>
            <%= f.label :salary_type, :class =>"col-sm-6 col-xs-12  control-label" %>
            <div class="col-sm-3 col-xs-1"></div>
        </div>
        
        <div class="col-xs-12 dark-background title-form">
            <div class="col-sm-3 col-xs-1"></div>
            <div class="col-sm-6 col-xs-12">
              <select name="job[salary_type]" id="salary_type" class="form-control" required>
                <option value="" default selected>Select the salary type</option>
                <option value="One-off">One-off</option> 
                <option value="Hourly">Hourly</option>
                <option value="Anually">Anually</option>
                <option value="Stock option">Stock option</option>
                <option value="Discussed in confidentiality">Discussed in confidentiality</option>
                <option value="volunteer">Volunteer</option>
              </select>
            </div>
            <div class="col-sm-3 col-xs-1"></div>
        </div>
      </div>
      
      <!--Salary Amount-->
      <div class="form-group">
        <div class="col-xs-12 dark-background title-form">
            <div class="col-sm-3 col-xs-1"></div>
            <%= f.label :salary_amount, :class =>"col-sm-6 col-xs-12  control-label" %>
            <div class="col-sm-3 col-xs-1"></div>
        </div>
        
        <div class="col-xs-12 dark-background title-form">
            <div class="col-sm-3 col-xs-1"></div>
            <div class="col-sm-6 col-xs-12">
              <%= f.text_field :salary, :placeholder =>"e.g: 30000", :class =>"form-control"%>
            </div>
            <div class="col-sm-3 col-xs-1"></div>
        </div>
      </div>
      
      <!--Closed Date-->
      <div class="form-group">
        <div class="col-xs-12 dark-background title-form">
            <div class="col-sm-3 col-xs-1"></div>
            <%= f.label :closed_date, :class =>"col-sm-6 col-xs-12  control-label" %>
            <div class="col-sm-3 col-xs-1"></div>
        </div>
        
        <div class="col-xs-12 dark-background title-form">
            <div class="col-sm-3 col-xs-1"></div>
            <div class="col-sm-6 col-xs-12 input-group" id='datetimepicker5'>
              <input name="job[closed_date]"type='text' class="form-control" data-format="DD/MM/YYYY" placeholder="DD/MM/YYYY format. e.g 25-9-2014" required="required"/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-time">
                </span>
              </span>
            </div>
            <div class="col-sm-3 col-xs-1"></div>
        </div>
      </div>
      
      <!--How to Apply-->
      <div class="form-group">
        <div class="col-xs-12 dark-background title-form">
            <div class="col-sm-3 col-xs-1"></div>
            <%= f.label :how_to_apply, :class =>"col-sm-6 col-xs-12  control-label" %>
            <div class="col-sm-3 col-xs-1"></div>
        </div>
        
        <div class="col-xs-12 dark-background title-form">
            <div class="col-sm-3 col-xs-1"></div>
            <div class="col-sm-6 col-xs-12">
              <%= f.text_area :apply, :placeholder =>"Please explain the process on how the candidate could apply for the position", :required=>"required", :class =>"form-control", :rows => 10%>
            </div>
            <div class="col-sm-3 col-xs-1"></div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-5 col-xs-1"></div>
        <div class="padding-side-30 col-sm-2 col-xs-12">
          <%= f.submit "Post this job", class: "btn btn-large btn-custom" %>
        </div>
        <div class="col-sm-5 col-xs-1"></div>
      </div>
  
      <script type="text/javascript">
        $(function () {
          $('#datetimepicker5').datetimepicker({
            pickTime: false
          });
        });
      </script>

    <% end %>
  </div>
</div>